.modifyDone {
  z-index: 99;
  position: absolute;
}

.modifyDone_content {
  z-index: 99;
  width: 250px;
  height: 80px;
  margin-top: 200px;
}
.modifyDone_overlay {
  border-radius: 20px;
  background-color: rgba(76, 75, 75, 0.799);
  height: 410px;
}

@media screen and (min-width: 1500px) {
  .modal_content {
    width: 400px;
    height: 100px;
  }
}
