.SuccessModal_content {
  width: 350px;
  height: 120px;
  margin-top: 20vh;
  background-color: rgb(78, 146, 0);
  color: white;
  font-size: 20px;
}

@media screen and (min-width: 1500px) {
  .SuccessModal_content {
    font-size: 25px;
    width: 430px;
    height: 140px;
  }
}

@media screen and (max-width: 1000px) {
  .SuccessModal_content {
    font-size: 15px;
    width: 240px;
    height: 100px;
  }
}

@media screen and (max-width: 600px) {
  .SuccessModal_content {
    font-size: 13px;
    width: 220px;
    height: 80px;
    margin-top: 100px;
    padding-top: 20px;
  }
}
