.Calendar {
  margin-top: 20px;
  font-family: 'Mukta', 'Noto Sans KR';
  outline: 0 !important;
  width: 430px;
}

.MainCalendar {
  margin-top: 10px;
}

.DayPicker-wrapper {
  outline: 0 !important;
}

.DayPicker-Day--birthday {
  background-color: rgb(193, 224, 162) !important;
}

/* DayPicker styles */

.DayPicker {
  display: inline-block;
  font-size: 1rem;
}

.DayPicker-wrapper {
  position: relative;
  flex-direction: row;
  padding-bottom: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Month {
  border: 0.2px solid lightgrey;
  display: table;
  margin: 0 1em;
  margin-top: 1em;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  user-select: none;
}

.DayPicker-NavButton {
  position: absolute;
  top: 17px;
  right: 20px;
  left: auto;
  display: inline-block;
  margin-top: 6px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
  outline: 0 !important;
}

.DayPicker-NavButton:hover {
  opacity: 0.8;
}

.DayPicker-NavButton--prev {
  margin-right: 30px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}

.DayPicker-NavButton--next {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  padding-top: 10px;
  height: 40px;
  background-color: black;
  color: white;
  display: table-caption;
  padding: 0 0.5em;
  text-align: left;
  font-size: 20px;
}

.DayPicker-Caption > div {
  font-weight: 500;
  font-size: 1.15em;
}

.DayPicker-Weekdays {
  width: 350px;
  display: table;
  margin-top: 2px;
}

.DayPicker-WeekdaysRow {
  display: table-row;
}

.DayPicker-Weekday {
  width: 50px;
  display: table-cell;
  color: #8b9898;
  text-align: center;
  font-size: 13px;
}

.DayPicker-Weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.DayPicker-Body {
  display: table;
  border-collapse: separate;
  border-spacing: 8px;
  width: 350px;
}

.DayPicker-Week {
  height: 40px;
  display: table-row;
}

.DayPicker-Day {
  width: 50px;
  display: table-cell;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border-spacing: 5px;
  outline: 0 !important;
}

.DayPicker-Footer {
  padding-top: 0.5em;
}

.DayPicker-TodayButton {
  border: none;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: 1px solid black;
  color: black;
  font-size: 0.875em;
  cursor: pointer;
  border-radius: 10px;
}

/* Default modifiers */

.DayPicker-Day--disabled {
  color: #c6c6c6;
  cursor: default;
  /* background-color: #eff1f1; */
}

.DayPicker-Day--sunday {
  color: rgb(195, 70, 70);
}

.DayPicker-Day--sunday.DayPicker-Day--disabled {
  color: #d9b5b5;
}

/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  position: absolute;
  left: 0;
  z-index: 1;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.DayPicker-Day--selected {
  position: relative;
  background-color: rgb(232, 176, 160) !important;
  color: #ededed;
}

.DayPicker:not(.DayPicker--interactionDisabled)
  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #f0f8ff;
}

.DayPicker-Day--today {
  background-color: rgba(207, 207, 207, 0.409);
  font-weight: 900;
}

.red {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 10px;
  background-color: rgb(232, 176, 160);
}

.green {
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 10px;
  background-color: rgb(193, 224, 162);
}
