.habitDetail {
  width: 430px;
}

.OnehabitName {
  font-size: 20px;
  height: 30px;
  font-weight: bolder;
}

.detailInfo {
  font-size: 16px;
  margin-left: 30px;
  text-align: left;
}

@media screen and (min-width: 1500px) {
  .habitDetail {
    width: 650px;
  }
  .OnehabitName {
    height: 33px;
    font-size: 22px;
  }
  .detailInfo {
    margin-left: 20px;
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .habitDetail {
    width: 400px;
  }
  .OnehabitName {
    margin-left: 0px;
    font-size: 17px;
    width: 200px;
  }
  .detailInfo {
    margin-left: 60px;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .habitDetail {
    width: 350px;
  }
  .OnehabitName {
    text-align: center;
    margin-left: 45px;
    font-size: 17px;
    width: 200px;
  }
  .detailInfo {
    margin-left: 40px;
    width: 280px;
    font-size: 12px;
  }
}
