.OnehabitName {
  font-size: 20px;
  height: 35px;
  font-weight: bolder;
}

.detailInfo {
  font-size: 20px;
  margin-left: 30px;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .OnehabitName {
    margin-left: 10px;
    font-size: 17px;
    width: 200px;
  }
  .detailInfo {
    margin-left: 60px;
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .OnehabitName {
    text-align: center;
    width: 500px;
    margin-left: 24px;
    font-size: 17px;
    width: 200px;
  }
  .detailInfo {
    margin-left: 50px;
    font-size: 15px;
  }
}
