.Login {
  position: absolute;
  width: 100%;
  vertical-align: middle;
}

.LoginSignupBox {
  margin-top: 20px;
  position: relative;
  z-index: 0;
  height: 300px;
}

.maintext {
  font-size: 35px;
  margin-bottom: 10px;
}

.backLoginSignup {
  top: -100vh;
}

.zeroTo66 {
  font-family: 'Pacifico', cursive;
  margin-top: 15vh;
  font-size: 40px;
  font-weight: 600;
  color: #cba6c3;
  margin-bottom: 20px;
}

input {
  width: 400px;
  height: 35px;
}

.input {
  margin: 3px;
  border-radius: 5px;
  font-size: 20px;
}

input::placeholder {
  font-size: 15px;
}

::placeholder {
  font-size: 30px;
}

.goToOtherSide {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 18px;
}

.login_signup_button {
  width: 180px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  padding-top: 3px;
  background-color: #cba6c3;
  font-size: 17px;
}

@media screen and (min-width: 1500px) {
  .zeroTo66 {
    font-size: 75px;
  }
  .maintext {
    font-size: 55px;
    margin-bottom: 20px;
  }
  input {
    width: 650px;
    height: 60px;
  }
  .input {
    font-size: 32px;
  }
  input::placeholder {
    font-size: 25px;
  }
  .goToOtherSide {
    margin-top: 25px;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .login_signup_button {
    width: 250px;
    height: 50px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .zeroTo66 {
    font-size: 35px;
  }
  .maintext {
    font-size: 30px;
  }
  input {
    width: 280px;
    height: 32px;
  }
  .input {
    font-size: 17px;
  }
  input::placeholder {
    font-size: 14px;
  }
  .goToOtherSide {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .login_signup_button {
    width: 140px;
    height: 28px;
    font-size: 17px;
  }
}

@media screen and (max-width: 500px) {
  .zeroTo66 {
    font-size: 30px;
  }
  .maintext {
    font-size: 25px;
    margin-bottom: 20px;
  }
  input {
    width: 250px;
    height: 28px;
  }
  .input {
    font-size: 18px;
  }
  input::placeholder {
    font-size: 13px;
  }
  .goToOtherSide {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .login_signup_button {
    width: 120px;
    height: 25px;
    font-size: 15px;
  }
}
