.Login {
  position: absolute;
  width: 100%;
  vertical-align: middle;
}

.Loginbox {
  position: relative;
  z-index: 0;
  height: 300px;
}

.backLogin {
  top: -100vh;
}

.zeroTo66 {
  font-family: 'Pacifico', cursive;
  margin-top: 15vh;
  font-size: 40px;
  font-weight: 600;
  color: #cba6c3;
}
