.Logout {
  position: fixed;
  left: 0px;
  margin-left: 10px;
  margin-top: 25px;
  border-radius: 5px;
  font-size: 15px;
  padding: 3px 10px;
}

.MypagezeroTo66 {
  font-family: 'Pacifico', cursive;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  background-color: rgb(203, 203, 203);
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.HabitList {
  /* border: 1px solid black; */
  width: 500px;
  margin-left: 50px;
  float: left;
}

button {
  font: inherit;
}

.btnAdd {
  width: 455px;
}
.addText {
  width: 390px;
  padding: 0 10px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid rgb(221, 217, 217);
  margin-right: 0;
}
.add {
  border: none;
  font-size: 20px;
}
::placeholder {
  font-size: 15px;
}
