@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.mypagebody {
  /*수평 중앙정렬*/
  display: flex;
  justify-content: center;
}

.Frequency input[type='checkbox'] {
  width: 10px;
}

.Frequency input[type='checkbox'] + label {
  display: inline-block;
  width: 20px;
  line-height: 10px;
}

.mypageContent {
  display: flex;
  width: 1000px;
  margin-top: 2vh;
}
.HabitList {
  font-family: 'Gamja Flower', cursive;
  position: relative;
  width: 450px;
  margin: 0 50px;
  float: left;
  align-items: center;
  z-index: 0;
}
.todayList {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}
.text1 {
  display: inline-block;
  width: 180px;
}
.text2 {
  display: inline-block;
  width: 80px;
}
.existingHabit {
  font-size: 25px;
  text-align: left;
  margin-left: 50px;
  width: 320px;
  margin-bottom: 20px;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid black;
  color: black;
  width: 23px;
  height: 23px;
  float: right;
  margin-top: 5px;
}
.checkbox:checked {
  background-color: black;
}
button {
  font: inherit;
  background: none;
}
.addHabit {
  font-family: 'Noto Sans KR';
}

.btnAdd {
  margin-top: 10px;
  height: 30px;
  width: 300px;
  color: grey;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 0;
  margin-left: -30px;
}
.btnAdd:hover {
  color: rgba(193, 193, 193, 0.504);
}

.addText {
  margin-top: 12px;
  width: 290px;
  padding: 0 10px;
  border-radius: 0;
  border: none;
  border-bottom: 0.7px solid rgba(124, 123, 123, 0.593);
  margin-left: -25px;
  font-size: 20px;
}

.add {
  background-color: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.cancel {
  margin-top: 7px;
  width: 200px;
}
::placeholder {
  font-size: 15px;
}

.adding {
  margin-top: -7px;
}
.colorinfo {
  margin-bottom: -10px;
}
.completedHabit {
  text-decoration: line-through;
}
.openDelete {
  border: none;
  /* float: right; */
  font-size: 20px;
}
.delete {
  border: none;
  font-family: 'Mukta', 'Noto Sans KR';
  margin-right: -10px;
  float: right;
  font-size: 16px;
}

@media screen and (min-width: 1500px) {
  .mypageContent {
    width: 1300px;
  }
  .HabitList {
    font-size: 40px;
    width: 600px;
  }
  .todayList {
    margin-bottom: 50px;
  }
  .existingHabit {
    width: 420px;
    font-size: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
  }
  .btnAdd {
    width: 500px;
    font-size: 30px;
  }
  .addText {
    margin-left: -20px;
    width: 370px;
    font-size: 25px;
  }
  .title {
    font-size: 60px;
    margin-bottom: 60px;
  }
  ::placeholder {
    font-size: 20px;
  }
  .add,
  button {
    font-size: 24px;
  }
  .colorinfo {
    font-size: 18px;
    width: 590px;
    margin-left: 20px;
  }
  .delete {
    font-size: 20px;
  }
  /*calendar*/
  .DayPicker-Body {
    width: 600px !important;
    font-size: 30px !important;
  }
  .DayPicker-Weekdays {
    width: 600px !important;
    font-size: 50px !important;
  }
  .DayPicker-Weekday {
    font-size: 20px !important;
  }
  .DayPicker-Week {
    height: 70px !important;
    font: 70px !important;
  }
  .DayPicker-Caption {
    font-size: 30px !important;
    height: 60px !important;
  }
  .DayPicker-NavButton {
    width: 42px !important;
    height: 42px !important;
  }
  .DayPicker-NavButton--prev {
    margin-right: 40px !important;
  }
  .DayPicker-Footer {
    padding-top: 20px !important;
  }
  .DayPicker-TodayButton {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 1000px) {
  .mypageContent {
    width: 650px;
  }
  .HabitList {
    width: 300px;
    margin-left: 0px;
    margin-right: 10px;
  }
  .todayList {
    font-size: 30px;
  }
  .text1 {
    width: 140px;
  }
  .text2 {
    width: 50px;
  }
  .existingHabit {
    margin-left: 10px;
    margin-bottom: 25px;
    width: 230px;
    font-size: 20px;
  }
  .checkbox {
    margin-top: 4px;
    width: 18px;
    height: 18px;
  }
  .btnAdd {
    width: 240px;
    margin-left: -5px;
    font-size: 17px;
  }
  .addText {
    margin-left: -10px;
    width: 200px;
    font-size: 17px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  ::placeholder {
    font-size: 10px;
  }
  .add,
  button {
    font-size: 15px;
  }
  .colorinfo {
    font-size: 13px;
  }
  .Calendar {
    margin-left: 40px;
  }
  .delete {
    font-size: 17px;
  }
  /*calendar*/
  .DayPicker-Body {
    width: 300px !important;
    font-size: 15px !important;
  }
  .DayPicker-Weekdays {
    width: 300px !important;
    font-size: 25px !important;
  }
  .DayPicker-Weekday {
    font-size: 10px !important;
  }
  .DayPicker-Week {
    height: 35px !important;
    font: 35px !important;
  }
  .DayPicker-Caption {
    font-size: 15px !important;
    height: 30px !important;
  }
  .DayPicker-NavButton {
    margin-top: 3px !important;
    width: 21px !important;
    height: 21px !important;
  }
  .DayPicker-NavButton--prev {
    margin-right: 25px !important;
  }
  .DayPicker-Footer {
    padding-top: 10px !important;
  }
  .DayPicker-TodayButton {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 600px) {
  .Calendar {
    display: inline-block;
    margin-left: 0;
    width: 350px;
    margin-top: 10px !important;
  }
  .mypageContent {
    width: 350px;
    display: inline-block;
  }
  .HabitList {
    width: 350px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .todayList {
    font-size: 25px;
  }
  .text1 {
    width: 120px;
  }
  .text2 {
    width: 40px;
  }
  .existingHabit {
    margin-left: 70px;
    width: 200px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .checkbox {
    margin-top: 5px;
    width: 16px;
    height: 16px;
  }
  .btnAdd {
    margin-left: -10px;
    margin-top: 2px;
    width: 200px;
    font: inherit;
    font-size: 15px;
    padding: 0;
  }
  .addText {
    margin-left: -5px;
    margin-top: 4px;
    width: 170px;
    font-size: 15px;
  }
  .title {
    margin-bottom: 20px;
  }
  .addText::placeholder {
    font-size: 11px;
  }
  .add,
  button {
    font-size: 13px;
  }
  .colorinfo {
    margin-bottom: 0px;
    font-size: 10px;
  }
  .delete {
    font-size: 13px;
  }
  /*calendar*/
  .DayPicker-wrapper {
    margin-top: -10px !important;
  }
  .DayPicker-Weekday {
    padding: 2px !important;
  }
  .DayPicker-Body {
    width: 250px !important;
    font-size: 14px !important;
  }
  .DayPicker-Weekdays {
    width: 250px !important;
    font-size: 25px !important;
  }
  .DayPicker-Week {
    height: 25px !important;
    font: 25px !important;
  }
  .DayPicker-Caption {
    font-size: 14px !important;
    height: 26px !important;
  }
  .DayPicker-NavButton {
    margin-top: 1px !important;
  }
  .DayPicker-Footer {
    padding-top: 4px !important;
  }
  .DayPicker-TodayButton {
    font-size: 12px !important;
  }
}
